@import './base.css';
@import './modal.css';

#Game, canvas {
  position: relative;
  display: block;
  margin: 0 auto;
}

.project_header {
  padding: 80px 0;
}

.project_header h1 {
  font-size: 40px;
  line-height: 1;
  text-align: center;
  color: #fff;
}

.gnbContainer {
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  width: 980px;
  margin: 0 auto;

  transition: all 0.3s;
}

.uiContainer {
  position: absolute;
  z-index: 999;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  width: 980px;
  height: 500px;
  margin: 0 auto;

  text-align: center;
  overflow: hidden;

  /* 클릭이벤트 막기. */
  /* pointer-events: none; */
}

.uiContainer * {
  pointer-events: auto;
}

.modal {
  top: 20px;
  /* right: 20px; */
}

.button {
  width: 130px;
  height: 33px;
  padding: 8px 0;
  color: #fff;
  border: none;
  background: url(../ui/button1.png) no-repeat;

  transition: all 0.4s linear;
}

.button.submit {
  background: url(../ui/button2.png) no-repeat;
}


.button._small {
  width: 75px;
  height: 35px;
  padding: 5px 0;
  background: url(../ui/btn_1.png) no-repeat;
  background-size: contain;
}

.title {
  position: absolute;
  top: 20px;
  left: 30px;
  right: 30px;

  font-size: 26px;
  line-height: 1.2;
  text-align: center;

  color: #ffd800;
  overflow: hidden;
}

.stageTitle {
  display: inline-block;
  margin:15% auto;

  font-size: 40px;
  line-height: 50px;
  text-align: center;

  color: #fff;

  /* offset-x | offset-y | blur-radius | color */
  text-shadow: 2px 2px 2px #333; 

  border-bottom: 3px solid #fff;

  transform: scaleX(0);
  opacity:0;
  transition: all 0.5s;
}

.stageTitle.animate {
  opacity:1;
  transform: scaleX(1);
  transition: all 0.3s;
}

.mainMenu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 20px;
}

.btnInventory {
  position: absolute;
  width: 68px;
  height: 67px;
  background: url(/src/assets/btn_inventory.png) no-repeat;
  background-size: contain;
}

.tooltip {
  position: absolute;
  z-index: 111;
  background: url(/src/assets/ui/tooltip_box.png) no-repeat;
  background-size: contain;
}


.profile {
  position: relative;
  text-align: center;
}

.profile * {
  color: #fff;
}

.profile img {
  display: block;
  margin: 0 auto 2px;
}

.profile-level {
  font-size: 14px;
  margin-right: 5px;
}

.profile-name {
  font-size: 16px;
}

.skillItems, .equipItems {
  clear: both;
  display: block;
}

.skillItems p, .equipItems p {
  float: left;
  margin-right: 10px;
  overflow: visible;
}

.skillItems p span, .equipItems p span {
  display: block;
  margin-top: 35px;
  font-size: 13px;
  width: 42px;
  color: #fff;
}





/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #fff; }
}

.typeWriter {
  border-radius: 0;
  padding: 5px 0;

  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .05em solid #fff;  */
  white-space: nowrap; 
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

