.closeBtn {
  position: absolute;
  right: 6px;
  top: 8px;

  width: 26px;
  height: 26px;
  
  background: url('/src/assets/ui/btn_close.png') no-repeat;
  background-size: contain;
  border: none;

  transition: all 0.3s;
}

/* dom element test - 9 slice */
.pixelBox {
  position: relative;

  width: 39px;
  height: 39px;
  display: flex;
  flex-wrap: wrap;

  text-align: center;
  /* transform: translate(400%, 10%); */
  transition: all 0.6s ease-in;
}

.pixel {
  width: 13px;
  height: 13px;

  min-width: 8px;
  min-height: 8px;

  float: left;
  background-size: cover;
}

.pixel:nth-child(1) {
  background:url('/src/assets/ui/modal/nineBox_01.png') no-repeat;
}
.pixel:nth-child(2) {
  background:url('/src/assets/ui/modal/nineBox_02.png') repeat-x;
}
.pixel:nth-child(3) {
  background:url('/src/assets/ui/modal/nineBox_03.png') no-repeat;
}
.pixel:nth-child(4) {
  background:url('/src/assets/ui/modal/nineBox_04.png') repeat-y;
}
.pixel:nth-child(5) {
  background:url('/src/assets/ui/modal/nineBox_05.png') repeat;
}
.pixel:nth-child(6) {
  background:url('/src/assets/ui/modal/nineBox_06.png') repeat-y;
}
.pixel:nth-child(7) {
  background:url('/src/assets/ui/modal/nineBox_07.png') no-repeat;
}
.pixel:nth-child(8) {
  background:url('/src/assets/ui/modal/nineBox_08.png') repeat-x;
}
.pixel:nth-child(9) {
  background:url('/src/assets/ui/modal/nineBox_09.png') no-repeat;
}
